
/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Oxygen Mono";
    src:url("OxygenMono-Regular.eot?") format("eot"),url("OxygenMono-Regular.woff") format("woff"),url("OxygenMono-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Temporarium Italic";
    src:url("temporariumitalic.otf?") format("otf"),url("temporariumitalic.woff") format("woff"),url("temporariumitalic.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

* {
  font-family: "Temporarium Italic", sans-serif;
}

input[type=text] {
  font-family: "Oxygen Mono", monospace, sans-serif;
}

body,p {
  background: #f0f0f0;
  font-size: 120%;
}

button {
  font-size: 110%;
}

b,h1 {
  color: #999999;
}

.img {
  display: inline-block;
  border: 1px solid #888888;
  width: 200px;
  margin: 3px;
  padding: 0px;
  height: 300px;
  vertical-align:top;
}

.img0 { background: url('img0.jpg') no-repeat #ffffff;}
.img1 { background: url('img1.jpg') no-repeat #ffffff;}
.img2 { background: url('img2.jpg') no-repeat #ffffff;}
.img3 { background: url('img3.jpg') no-repeat #ffffff;}
.img4 { background: url('img4.jpg') no-repeat #ffffff;}
.img5 { background: url('img5.jpg') no-repeat #ffffff;}
.img6 { background: url('img6.jpg') no-repeat #ffffff;}
.img7 { background: url('img7.jpg') no-repeat #ffffff;}
.img8 { background: url('img8.jpg') no-repeat #ffffff;}
.img9 { background: url('img9.jpg') no-repeat #ffffff; text-align: right;}
.img10 { background: url('img10.jpg') no-repeat #ffffff;}
.img11 { background: url('img11.jpg') no-repeat #ffffff;}
.img12 { background: url('img12.jpg') no-repeat #ffffff;}
.img13 { background: url('img13.jpg') no-repeat #ffffff;}
.img14 { background: url('img14.jpg') no-repeat #ffffff;}
.img15 { background: url('img15.jpg') no-repeat #ffffff;}
.img16 { background: url('img16.jpg') no-repeat #ffffff;}
.img17 { background: url('img17.jpg') no-repeat #ffffff;}
.img18 { background: url('img18.jpg') no-repeat #ffffff;}
.img19 { background: url('img19.jpg') no-repeat #ffffff;}
.img20 { background: url('img20.jpg') no-repeat #ffffff;}
.img21 { background: url('img21.jpg') no-repeat #ffffff;}
.img22 { background: url('img22.jpg') no-repeat #ffffff;}
.img23 { background: url('img23.jpg') no-repeat #ffffff;}
.img24 { background: url('img24.jpg') no-repeat #ffffff;}
.img25 { background: url('img25.jpg') no-repeat #ffffff;}
.img26 { background: url('img26.jpg') no-repeat #ffffff;}
.img27 { background: url('img27.jpg') no-repeat #ffffff;}
.img28 { background: url('img28.jpg') no-repeat #ffffff;}
.img29 { background: url('img29.jpg') no-repeat #ffffff;}
.img30 { background: url('img30.jpg') no-repeat #ffffff;}
.img31 { background: url('img31.jpg') no-repeat #ffffff;}
.img32 { background: url('img32.jpg') no-repeat #ffffff;}
.img33 { background: url('img33.jpg') no-repeat #ffffff;}
.img34 { background: url('img34.jpg') no-repeat #ffffff;}
.img35 { background: url('img35.jpg') no-repeat #ffffff; width: 408px;}
.img36 { background: url('img36.jpg') no-repeat #ffffff; width: 408px;}
.img37 { background: url('img37.jpg') no-repeat #ffffff;}
.img38 { background: url('img38.jpg') no-repeat #ffffff; width: 408px;}
.img39 { background: url('img39.jpg') no-repeat #ffffff;}
.img40 { background: url('img40.jpg') no-repeat #ffffff; width: 408px;}

.stdtxt {
  display: inline-block;
  line-height: 1.1;
  font-size: 115%;
  padding: 3px;	
}

.txt9 { text-align: right;}
.txt33 { margin: 3px 90px 150px 3px;}
.txt34 { margin: 3px 3px 160px 88px;}
.txt35 { margin: 3px 3px 200px 212px;}
.txt36 { margin: 3px 3px 218px 205px;}
.txt38 { margin: 3px 218px 218px 3px;}
.txt40 { margin: 3px 3px 218px 209px;}

#messages {
  padding-top: 10px;
  overflow: auto;
}
#msg {
  width: 80%;
  height: 1em;
}
#error {
  color: #f00;
  padding: 5px;
  font-weight: bold;
}

